body{
    background-color: #334259;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:large;
}
a:link{
    color:black;
}
a:visited{
    color: purple;
}
h1{
    color: #FFFFFF;
}
#hd1{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style: none;
}
nav{
    color: black;
    background-color: #A6CAD4;
    text-align: center;
}
.about{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
}
.about-item{
    padding: 5px;
}
footer{
    text-align: center;  
    background-color: #A6CAD4;
    color:black;
    position: absolute;
    bottom: 0;
    width: 100%;
}