body{
    background-color: #005090;
}
h1{
    color: #FFFFFF;
}
#hd1{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #FFFFFF;
}
li{
    color: #FFFFFF;
}
nav{
    color: black;
    background-color: lightblue;
    text-align: center;
}